*{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: whitesmoke;
}

.nav-container{
	width: 100%;
	padding: 30px 90px;
}

.nav-top{
	align-items: center;
	justify-content:space-between;
	display: flex;
}

.clemo{
	font-size: 40px;
	font-weight: bold;
}

.nav-links{
	display: flex;
	list-style: none;
	gap: 30px;
	color: rgb(214, 150, 32);
	margin-right: -10px;
}

.nav-links a{
	text-decoration: none;
	font-size:  25px;;
	color: rgb(217, 233, 75);
}

.nav-centre{
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
	height: 500px;
	font-family:sans-serif;
	background-color:#FFE6C7;
	align-content: center;

}

.get{
	background-color: black;
	border-radius: 50px;
	width: 130px;
	height: 40px;
	color: rgb(221, 121, 6);
}

.content>h2{
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 60px;
	padding-top: 40px;
}



.kitchen{
	display: flex;
}

.img1{
	width: 1000px;
	height: 560;
	border-image: auto;
	border-radius: 20px;
	border-width: 560px;
}
.content1>h2{
	align-items: center;
	justify-content: center;
	text-align: left;
}

.content1>h2>p{
	align-items: center;
	justify-content: center;
	text-align: left;
}


.art{
	display: flex;
}
.img2{
	width: 560px;
	height: 560px;
}

.design{
	display: flex;
}
.img{
	width: 560px;
	height: 560px;
}





.img4{
	display: flex;
}

.img5{
	display: flex;
}
